{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    Gestion des utilisateurs - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container pt-5 pb-5">
        <h2 class="ml-3 mt-5 card-title title-shadow font-medium text-uppercase">
			<span class="title-content">Gestion des utilisateurs</span>
        </h2>
        <div class="pt-5">
            <div class="pb-3 justify-content-center">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <table class="container">
                <thead>
                <tr class="border border-dark">
                    <th class="text-center">Mail</th>
                    <th class="text-center">Pseudo</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Compte crée le</th>
                    <th class="text-center">Statut compte</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="border border-dark py-2">
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">{{ (user.pseudo is not null) ? user.pseudo : 'Non-renseigné' }}</td>
                        <td class="text-center">{{ (user.firstname is not null) ? user.firstname : 'Non-renseigné' }}</td>
                        <td class="text-center">{{ (user.lastname is not null) ? user.lastname : 'Non-renseigné' }}</td>
                        <td class="text-center">{{ user.createdAt|date('d/m/Y') }}</td>
                        <td class="text-center">{{ (user.isActive) ? 'Activé' : 'Désactivé'  }}</td>
                        <td class="text-center">
                            {{ include('admin/user/_delete_artist.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ knp_pagination_render(users) }}
{% endblock %}
