{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    Gestion des utilisateurs - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container pt-5 pb-5">
        <h2 class="ml-3 mt-5 card-title title-shadow font-medium text-uppercase">
			<span class="title-content">Gestion des utilisateurs</span>
        </h2>
        <div class="row pt-5 pb-5">
            <table class="container">
                <thead>
                <tr class="border border-dark">
                    <th class="ml-2">Mail</th>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Compte crée le</th>
                    <th>Statut compte</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="border border-dark py-2">
                        <td class="ml-2">{{ user.email }}</td>
                        <td>{{ (user.pseudo is not null) ? user.pseudo : 'Non-renseigné' }}</td>
                        <td>{{ (user.firstname is not null) ? user.firstname : 'Non-renseigné' }}</td>
                        <td>{{ (user.lastname is not null) ? user.lastname : 'Non-renseigné' }}</td>
                        <td>{{ user.createdAt|date('d/m/Y') }}</td>
                        <td>{{ (user.isActive) ? 'Activé' : 'Désactivé'  }}</td>
                        <td class="d-flex flex-column align-items-start">
                            {{ include('admin/user/_delete_artist.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}