{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mb-5 mt-5 font-weight-bold text-center text-uppercase">Connexion</h1>
		<div class="col-xl-6 col-xs-8 card mx-auto mt-5 mb-5">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes authentifié en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">
							Déconnexion</a>
					</div>
				{% endif %}
				<label for="inputEmail" class="text-uppercase mt-5">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
				<label for="inputPassword" class="text-uppercase">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div>
					<a href="{{ path('app_forgot_password_request') }}">
						Mot de passe oublié</a>
				</div>
				<div class="mt-5 mb-5 d-inline-block">
					<button class="btn btn-outline-secondary mr-5 text-uppercase" type=" submit">
						CONNEXION
					</button>
					<a href="{{ path('app_register') }}" class="btn btn-outline-secondary text-uppercase">
						Créer un compte</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
