<div id="bloc-article" class="bloc-article ">
	<div class="container">
			<h2 class="ml-3 mb-5 rounded-0 card-title title-shadow text-uppercase font-medium">
				<span class="title-content">Ils parlent de nous</span>
			</h2>
		<div class="d-flex justify-content-center d-none d-sm-block d-md-none">
			<div class="swiper-container pt-5 pb-5 ">
				<div class="swiper-wrapper">
					{% for external in externals %}
						<div class="swiper-slide ">
							<div class="d-flex justify-content-center">
								<div class="card rounded-0 bg-transparent border-0 zoom-parent ex-slide" onclick="">
<<<<<<< HEAD
									<div class="card-title rounded-0 ex-title mx-auto">{{ external.title }}</div>
									<a class="d-flex justify-content-center rounded-0 card-img" href="{{ external.link }}" target="blank"><img class="mb-4 zoom-child" src="/uploads/images/users/{{ external.ImageExternalArticle.image }}" alt=""></a>
=======
									<div class="card-title rounded-0 font-medium mx-auto">{{ external.title }}</div>
									<a class="d-flex justify-content-center rounded-0 card-img" href="{{ external.link }}"><img class="mb-4 zoom-child" src="/uploads/images/users/{{ external.ImageExternalArticle.image }}" alt=""></a>
>>>>>>> origin
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="d-none d-md-block">
			<div class=" rounded-0 card-deck my-5 ">
				{% for external in externals %}
					<div class="rounded-0 card bg-transparent border-0 zoom-parent" onclick="">
<<<<<<< HEAD
						<div class="rounded-0 card-title ex-title mx-auto">{{ external.title }}</div>
						<a class="rounded-0 d-flex justify-content-center card-img" href="{{ external.link }}" target="blank"><img class="mb-4 zoom-child" src="/uploads/images/users/{{ external.ImageExternalArticle.image }}" alt=""></a>
=======
						<div class="rounded-0 card-title font-medium mx-auto">{{ external.title }}</div>
						<a class="rounded-0 d-flex justify-content-center card-img" href="{{ external.link }}"><img class="mb-4 zoom-child" src="/uploads/images/users/{{ external.ImageExternalArticle.image }}" alt=""></a>
>>>>>>> origin
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
