<div id="bloc-artists">
	<div class="container" class="mt-5 pt-5">
		<h2 class="ml-3 mb-5 presentation-title rounded-0 card-title title-shadow text-dark text-uppercase font-medium">
			<span class="title-content">Les artistes</span>
		</h2>
		<div class="row mt-5 ">
			{% for artist in artists %}
				<div class="col-sm-6 col-md-4 artist" id="photo{{ loop.index + 1 }}" data-target="comment{{ loop.index + 1 }}" data-link="link{{ loop.index + 1 }}">
					<p
						class="bg-{{ artist.disciplines[0].color }}  position-relative img-container">
						{#						<a class="trigger" href="#collapse{{ loop.index }}" data-toggle="collapse">#}
						<img class="artist-image " src="/uploads/images/users/{{ artist.avatar.image }}" alt="{{ artist.firstName }} {{ artist.lastName }}" width="100%">
						<span class=" {{ artist.disciplines[0].color }}"></span>
						<span class="ml-2 text-white font-light artist-name">
							{{ artist.firstname }}
							{{ artist.lastname }}</span>
					</p>
				</a>
			</p>
		</div>
	{% endfor %}
</div>
{% for artist in artists %}
	<div class="hidden" id="comment{{ loop.index + 1 }}" data-link="link{{ loop.index + 1 }}">
		<div class="row col-12 img-container">
			<div class="card rounded-0 border-0 bg-transparent mb-3">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img class="avatar-show mt-3" src="/uploads/images/users/{{ artist.avatar.image }}" alt="{{ artist.firstName }} {{ artist.lastName }}" width="100%">
					</div>
					<div class="col-md-8">
						<div class="rounded-0 card-body">
							<h3 class="rounded-0 card-title ml-3 mb-5 text-uppercase font-medium title-shadow-grey color-{{ artist.disciplines[0].color }}">
								<span class="title-content">
									<strong>{{ artist.firstname }}</strong>
									{{ artist.lastname }}</span>
							</h3>
							<br>
							<h4 class="ml-3 mb-5 title-shadow-grey font-regular text-uppercase color-{{ artist.disciplines[0].color }}">
								<span class="title-content">{{ artist.expertise }}</span>
							</h4>
							<p class="rounded-0 card-text text-justify font-light">
								{{ (artist.description is null) ? 'Description du profil' : artist.description }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-3">
			{% for artwork in artist.artworks %}
				{% if artwork.media.support == "photo" %}
					<div class="col-sm-6 col-md-4 mt-3 mb-3">
						<div class="mt-3 d-flex justify-content-between">
							<img class="image-size mt-2" src="/uploads/images/users/{{ artwork.media.imageArtwork.image }}"  alt="{{ artwork.media.imageArtwork.image }}" width="100%">
						</div>
					</div>
				{% elseif artwork.media.support == "video" %}
					<div class="col-sm-6 col-md-5 mt-3">
						<div class="img-fluid rounded-0 card border-0 bg-transparent mt-3">
							<iframe class="video-size mt-2" src="{{ artwork.media.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				{% endif %}
			{% else %}
				<p>Pas de contenu pour l'instant
				</p>
			{% endfor %}
			{% if not app.user is same as(artist) %}
				<div class="mt-3 container d-flex justify-content-end">
					<p class="my-5">
						<a href="{{ path('artist_contact', {user_id: artist.id}) }}" class="link-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} profil-link font-regular mt-1 profil-link-border-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }}">
							Contacter l'artiste</a>
						<br>
						<a href="{{ path('artist_show', {id: artist.id}) }}" class="link-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} profil-link font-regular mt-1 profil-link-border-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }}">
							Voir plus
						</a>
					</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}</div></div>
