{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Connexion
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_start(registrationForm) }}
	<div class="container mb-5">
		<h1 class="mb-5 mt-5 font-weight-bold text-center text-uppercase">Créer un compte</h1>
		<div class="mb-5 d-inline-block">
			<p>Déjà inscrit?
				<a href="{{ path('app_login') }}" class="btn text-uppercase">connexion</a>
			</p>
		</div>
		{{ form_start(registrationForm) }}
		{{ form_errors(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		<button type="submit" class="btn text-uppercase">Créer un compte</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
