<div class="col-md-2 dashboard d-md-block sidebar">
            <div class="left-sidebar text-white">
                <p class="mt-5 font-bold">Bienvenue sur votre Admin Dashboard</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="nav-link active font-bold text-uppercase"><i class="fas fa-envelope"></i> Messagerie </p>
                        <ul>
                            <li><a href="{{ path('admin_message_index') }}"><i class="fas fa-angle-right"></i> Boîte de réception  <div class="badge-secondary badge">{{render(controller("App\\Controller\\AdminMessageController::countUnreadMessage"))}}</div> </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link font-bold text-uppercase"><i class="fas fa-paint-brush"></i> Artistes</p>
                        <ul>
                            <li><a href="{{ path('admin_show_artists') }}"><i class="fas fa-angle-right"></i> Gestion des utilisateurs</a></li>
                            <li><a href="{{ path('admin_show_announcements') }}"><i class="fas fa-angle-right"></i> Gestion des annonces</a></li>
                            <li><a href="{{ path('admin_show_podium') }}"><i class="fas fa-angle-right"></i> Mise en avant des artistes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link font-bold text-uppercase"><i class="fas fa-edit"></i> Contenu</p>
                        <ul>
                            <li><a href="{{ path('admin_article_show') }}"><i class="fas fa-angle-right"></i> Gestion des articles</a></li>
                            <li><a href="{{ path('admin_happening_show') }}"><i class="fas fa-angle-right"></i> Gestion des évènements</a></li>
                            <li><a href="{{ path('admin_external_show') }}"><i class="fas fa-angle-right"></i> Mise en avant des articles externes</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold text-uppercase" href="{{ path('home_page') }}"><i class="fas fa-home"></i> Retour au site</a>
                </ul>
            </div>
</div>
