{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Le coin des petites annonces
{% endblock %}

{% block body %}


<div class="container pt-5 pb-5">
    <h2 class="ml-3 mt-5 card-title title-shadow font-medium text-uppercase">
			<span class="title-content">
                {% block head_title %}Gestion des annonces{% endblock %}
			</span>
    </h2>
    <div class="row pt-5 pb-5">
        <table class="container">
            <thead>
            <tr class="border border-dark">
                <th class="ml-2">Titre</th>
                <th>Catégorie</th>
                <th>Posté le</th>
                <th>Posté par</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for announcement in announcements %}
                <tr class="border border-dark">
                    <td class="ml-2">{{ announcement.title }}</td>
                    <td>{{ announcement.discipline.name }}</td>
                    <td>{{ announcement.date|date('d/m/Y') }}</td>
                    <td>{{ announcement.user.getFirstname }}</td>
                    <td class="d-flex flex-column align-items-start">
                        <a href="{{ path('admin_edit_announcement', {id: announcement.id}) }}"
                           class="card-link text-dark"><i class="far fa-edit"></i> Modifier</a>
                        {{ include('admin/_delete_announcement.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}