{% extends 'base.html.twig' %}

{% block title %} Les artistes

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
{% block body %}
    <div class="container my-5">
        <div id="map" class="my-5"></div>
        {% for artist in artists %}
            <div class="artist-card d-none"
                data-latitude="{{ artist.city is empty ? '' : artist.city.latitude }}"
                data-longitude="{{ artist.city is empty ? '' : artist.city.longitude }}"
                data-color="{{ artist.disciplines is empty ? '' : artist.disciplines[0].color }}">
                    <a class="bg-{{ artist.disciplines is empty ? '' : artist.disciplines[0].color }} text-{{ artist.disciplines is empty ? '' : artist.disciplines[0].color }}"
                        href={{ path("artist_show", {id: artist.id}) }}>
                        {{ artist.pseudo }},
                        {{ artist.expertise }}
                        <img src=" /uploads/images/users/{{ artist.avatar is empty ? '' : artist.avatar.image }}" alt="" width="100%">
                    </a>
                </div>
            </div>
    </div>

        {% endfor %}
{% endblock %}