{% extends 'base.html.twig' %}
{% form_theme formUpdate 'bootstrap_4_layout.html.twig' %}
{% block title %}
	Modifier profil -
	{{ (artist.pseudo) ? artist.pseudo : artist.firstname }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('inputFileValue') }}
	{{ encore_entry_script_tags('location') }}

{% endblock %}

{% block body %}
	<div class="container pt-5 pb-5">
		<h2 class="ml-3 mb-5 card-title title-shadow text-uppercase font-medium">
			<span class="title-content">Modifier
				<br>
				mon profil</span>
		</h2>
		<div class="row col-12 mt-5">
			<div class="card border-0 bg-transparent flex-column">
				{% if artist.avatar %}
					<img class="avatar-picture " src="/uploads/images/users/{{ artist.avatar.image }}" alt="image profil">
				{% else %}
					<img class="avatar-picture " src="{{ asset('build/default-profile.png') }}">
				{% endif %}
				{{ form_start(formUpdate) }}
				{{ form_row(formUpdate.avatar) }}
			</div>
			<div class="card border-0 bg-transparent col-xl-4 col-xs-8 d-flex flex-column">
				{{ form_row(formUpdate.pseudo) }}
				{{ form_row(formUpdate.firstname) }}
				{{ form_row(formUpdate.lastname) }}
				{{ form_row(formUpdate.city) }}
				<!-- Button trigger modal -->
				<button type="button" id="modal-launcher" class="btn btn-outline-secondary text-uppercase" data-toggle="modal" data-target="#exampleModal">
					Se localiser plus précisément
				</button>
				{{ form_row(formUpdate.disciplines) }}
			</div>
			<div class="card border-0 bg-transparent col-xl-4 col-xs-8 d-flex flex-column">
				{{ form_row(formUpdate.expertise) }}
				{{ form_row(formUpdate.description) }}
				{{ form_row(formUpdate.facebookUrl) }}
				{{ form_row(formUpdate.instagramUrl) }}
				<button type="submit" class="btn btn-outline-secondary text-uppercase">Enregistrer les modifications</button>
				{{ form_end(formUpdate) }}
			</div>

			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Localisation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="map"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							{{ form_start(form_localisation) }}
							{{ form_widget(form_localisation) }}
							<button type="submit" class="btn btn-outline-secondary text-uppercase">Enregistrer coordonnées</button>
							{{ form_end(form_localisation) }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
