{% set artist = app.user %}
{% extends "artist/_show_artist.html.twig" %}

{% block title %}
 Mon profil -
    {% if artist.pseudo is not null %}
        {{ artist.pseudo }}
    {% elseif artist.firstname is not null %}
        {{ artist.firstname }}
    {% else %}
        {{ "Arts D'Eko" }}
    {% endif %}
{% endblock %}

{% block icon %}
    <p>
        5<i class="fas fa-user-friends ml-2 mr-2 icon color-{{ (artist.disciplines is defined) ? 'move' : artist.disciplines[0].color }} icon-secondary"></i>
        3<i class="fas fa-envelope ml-2 icon color-{{ (artist.disciplines is defined) ? 'move' : artist.disciplines[0].color }} icon-secondary"></i>
    </p>
{% endblock %}

{% block link_edit_profil %}
 <a href="{{ path('artist_edit', {user_id: artist.id}) }}" class="link-{{ (artist.disciplines is defined) ? 'move' : artist.disciplines[0].color }}
    profil-link mt-1 profil-link-border-{{ (artist.disciplines is defined) ? 'move' : artist.disciplines[0].color }}">
        Modifier mon profil</a>
{% endblock %}

{% block search %}{% endblock %}
{% block announcements %}{% endblock %}


{% block head_title %}Bienvenu.e{% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

