{% set artist = app.user %}
{% extends "artist/_show_artist.html.twig" %}
{% form_theme announcementForm 'bootstrap_4_layout.html.twig' %}

{% block javascripts %}
	{{ parent() }};
	{{ encore_entry_script_tags('clickable-line') }}
{% endblock %}
{% block title %}
	Mon profil -
	{% if artist.pseudo is not null %}
		{{ artist.pseudo }}
	{% elseif artist.firstname is not null %}
		{{ artist.firstname }}
	{% else %}
		{{ "Arts D'Eko" }}
	{% endif %}
{% endblock %}

{% block icon %}
	<p class="font-regular">
		{{ artist.friends|length }}
		<i class="fas fa-user-friends ml-2 mr-2 icon color-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} icon-secondary"></i>
		{{ totalUnreadMessage }}
		<i id="mailbox" class="cursor-pointer fas fa-envelope ml-2 icon color-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} icon-secondary"></i>
	</p>
{% endblock %}

{% block link_edit_profil %}
	<a href="{{ path('artist_edit', {user_id: artist.id}) }}" class="link-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} profil-link mt-1 font-light profil-link-border-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }}">
		Modifier mon profil</a>
{% endblock %}

{% block search %}{% endblock %}

{% block head_title %}Bienvenue
{% endblock %}
{% block body %}
	{{ parent() }}
{% endblock %}

{% block message %}
	<div id="block-message" class="d-none container mt-5">
		<h2 class="mb-5 card-title title-shadow font-weight-bold text-uppercase">
			<span class="title-content font-medium">
				Messages
			</span>
		</h2>
		<div class="block-mail card mt-5 mb-5">
			<table class="table">
				<thead>
					<tr class="font-weight-bold text-uppercase">
						<td></td>
						<td>Mail</td>
						<td>Message</td>
						<td class="d-none d-md-block"></td>
						<td></td>
					</tr>
				</thead>
				{% for message in messages %}
					<tr class="cursor-pointer title-message">
						<td class="{{ (message.isRead) ? '' : "font-weight-bold" }}">{{ message.mail }}</td>
						<td class="{{ (message.isRead) ? '' : "font-weight-bold" }}">{{ message.content|length > 50 ? message.content|slice(0, 50) ~ ' ... ' : message.content }}</td>
						<td class="{{ (message.isRead) ? '' : "font-weight-bold" }} d-none d-md-block">{{ message.sendAt ? message.sendAt|date('d-M') : '' }}</td>
						<td>
							<form method="post" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
								<button class="btn">
									<i class="far fa-trash-alt"></i>
								</button>
							</form>
						</td>
					</tr>
					<tr>
						<td class="content d-none" colspan="4">
							<h5>
								{{ message.object }}
							</h5>
							<p>{{ message.content }}</p>
							<a class="btn btn-outline-secondary text-uppercase" href="{{ path("artist_message_is_read", {id: message.id}) }}">marqué comme lu</a>
							<a class="btn btn-outline-secondary text-uppercase" href="mailto:">Répondre</a>
						</td>
					</tr>
					<tr>
						<td class="d-block d-md-none">{{ message.sendAt ? message.sendAt|date('Y-m-d H:i') : '' }}</td>
					</tr>
				</tbody>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>{% endblock %}
{% block announcements %}
	<div class="container">
		<div class="row col-12 mt-5">
			<h2 class="ml-3 mb-5 card-title title-shadow text-uppercase">
				<span class="title-content font-medium">Ma sélection d' annonces</span>
			</h2>
		</div>
			<div class="row pt-5 pb-5">
				{% for response in app.user.responses %}
					<div class="col-sm-4 d-flex justify-content-center">
						<div class="card card-announcement card-{{ response.announcement.discipline.color }} bg-light mb-5" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title text-uppercase font-weight-bold">{{ response.announcement.title }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ response.announcement.discipline.name }}</h6>
								{% if response.announcement.date is not null %}
									<h6 class="card-subtitle mb-2 text-muted">{{ response.announcement.date|date('d/m/Y') }}</h6>
								{% endif %}
								<p class="card-text text-justify">{{ response.announcement.content }}</p>
								<p class="text-uppercase text-right "><a class="text-dark font-weight-bold " href="{{ path('artist_contact', {user_id: response.announcement.user.id}) }}" class="card-link"><i class="far fa-envelope"></i> Contacter</p></a>
							</div>
						</div>
					</div>
					{% else %}
					Pas d'annonce sélectionnée pour le moment
				{% endfor %}
			</div>
		<div id="myAnnouncements" class="row col-12 mt-5">
			<h2 class="ml-3 mb-5 card-title title-shadow text-uppercase">
				<span class="title-content font-medium">Mes annonces</span>
			</h2>
		</div>
		<div class="row pt-5 pb-5">
			{% for announcement in app.user.announcements %}
				<div class="col-sm-4 d-flex justify-content-center">
					<div class="card card-announcement card-{{ announcement.discipline.color }} bg-light mb-5" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title text-uppercase font-weight-bold">{{ announcement.title }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ announcement.discipline.name }}</h6>
							{% if announcement.date is not null %}
								<h6 class="card-subtitle mb-2 text-muted">{{ announcement.date|date('d/m/Y') }}</h6>
							{% endif %}
							<p class="card-text text-justify">{{ announcement.content }}</p>
							<p class="text-uppercase text-right ">
							<form method="post" action="{{ path('announcement_delete', {'id': announcement.id}) }}" onsubmit="return confirm('Etes vous sûr.e de vouloir supprimer cette annonce?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
								<button class="btn btn-outline-secondary card-link font-weight-bold text-dark"><i class="far fa-trash-alt"></i> Supprimer</button>
							</form>
								<a href="{{ path('announcement_edit', {'id': announcement.id}) }}" class="btn btn-outline-secondary card-link font-weight-bold text-dark" ><i class="far fa-edit"></i> Modifier</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-sm-4 d-flex justify-content-center">
				<div class="card card-announcement card-move bg-light mb-5 "  style="width: 18rem;">
					<div class="card-body d-flex flex-column justify-content-center newModal-trigger" data-toggle="modal" data-target="#newModal">
						<p class="card-text  text-uppercase font-weight-bold h1 text-center ">Déposer une annonce</p>
					</div>
					<!-- ModalNew -->
					<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="newModalLabel">Nouvelle annonce</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									{{ form_start(announcementForm) }}
									{{ form_widget(announcementForm) }}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">Fermer</button>
									<button type="submit" class="btn btn-outline-secondary text-uppercase">Créer</button>
									{{ form_end(announcementForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ModalUpdate -->
		</div>
	</div>
{% endblock %}
