<div class="container pt-5 pb-5">
    <div class="col-sm-12">
{% for happening in happenings %}
        {% if loop.index is divisible by (2) %}
            <h2 class="ml-3 mb-5 font-medium mb-4 title-shadow text-uppercase">
                <span class="title-content">{{ happening.type == "article"? "On parle d'eux": "Actualité" }}</span>
            </h2>
                <h3 class="card-title font-medium mt-5">{{ happening.title }}</h3>
                Publié le {{ happening.createdAt|date('d/m/Y') }}
                <div class="main-box mt-5 mb-5">
                    <div class="row">
                        <div class="col-sm-8 text-justify">
                      {{ happening.content | raw }}
{#                            <a href="{{ path('blog_article', {'id': happening.id}) }}" class="text-right">Lien vers l'évènement</a>#}
                            <a href="{{ path(happening.type == "happening"?'blog_article':'article', {'id': happening.id}) }}" class="text-right">Lien vers l'évènement</a>

                        </div>
                            <div class="col-sm-4 text-right">
                    <img src="{{ happening.imageHappening is defined ? "/uploads/images/users/" ~ happening.imageHappening.image : "/uploads/images/users/" ~ happening.imageArticle.image }}" alt="{{ happening.title }}" class="card-img rounded-0 " style="width: 300px">
                    </div>
                    </div>
    </div>
        {% else %}
            <div class="text-right">

                <h2 class="ml-3 mb-5 font-medium mb-4 title-shadow text-uppercase">
                    <span class="title-content text-right">{{ happening.type == "article"? "On parle d'eux": "Actualité" }}</span>
                </h2>
            </div>
                <h3 class="card-title font-medium mt-5 text-right">{{ happening.title }}</h3>
            <p class="text-right">Publié le {{ happening.createdAt|date('d/m/Y') }}</p>
        <div class="main-box mt-5 mb-5">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ happening.imageHappening is defined ? "/uploads/images/users/" ~ happening.imageHappening.image : "/uploads/images/users/" ~ happening.imageArticle.image }}" alt="{{ happening.title }}" class="card-img rounded-0 " style="width: 300px">
                </div>
                <div class="col-sm-8 text-justify">
                    {{ happening.content | raw }}
                    <a href="{{ path(happening.type == "happening"?'blog_article':'article', {'id': happening.id}) }}" class="text-right">Lien vers l'évènement</a>
                </div>
            </div>
        </div>
            {% endif %}
{% endfor %}
        <div class="text-center mb-5">
        {{ knp_pagination_render(happenings) }}
        </div>
</div>
</div>
