{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Actualité
{% endblock %}

{% block body %}
	<div class="memphis-background">
		<div class="container pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center align-items-center pb-5">
					<div class="col-lg-8">
						<h2 class="font-medium mb-4 title-shadow text-uppercase">
				<span class="title-content">Actualité</span>
						</h2>
						<h5 class="font-medium mt-5 mb-5">{{ happening.title }}</h5>
						<div class="text-center">
							<img src="{{ happening.imageHappening is defined ? "/uploads/images/users/" ~ happening.imageHappening.image : "/uploads/images/users/" ~ happening.imageArticle.image }}" alt="{{ happening.title }}" class="img-fluid mb-4">
						</div>
							<p class="text-justify pt-4 pb-4">Publié le {{ happening.createdAt|date('d/m/Y') }}</p>
						<p class="text-justify">{{ happening.content }}</p>
						<a href="{{ path('blog_index') }}" class="btn btn-outline-secondary rounded-0 mt-4">Retour</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
