<div class="container-fluid  background-grey ">
<div class="container pt-5">
    <div class="d-flex justify-content-center background-grey">
    <h1 class="mt-5 ml-3 mb-5 card-title text-uppercase font-weight-bold">Recherche</h1>
    </div>
    <div class="container background-grey">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="">
            {{ form_row(form.type) }}
        </div>
        <div class="">
        {{ form_row(form.textTyped) }}
        </div>
         <div class="d-flex justify-content-center">
            <input class="btn btn-outline-secondary font-medium text-uppercase" type='submit' value='Rechercher'>
            {{ form_end(form) }}
        </div>
    </div>
    <div>
        <div class="row mt-5 ">
            {% if results.users is defined %}
                {% for artist in results.users %}
                    <div class="col-sm-6 col-md-4">
                        <p class="bg-{{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }} position-relative img-container">
                            <a href="{{ path('artist_show', {id: artist.id}) }}" >
                                {% if artist.avatar.image is not null %}
                                    <img class="artist-image" src="/uploads/images/users/{{ artist.avatar.image }}"
                                         alt="{{ artist.firstname is null ? 'Prénom' : artist.firstname }}
                                            {{ (artist.lastname is null) ? 'Nom' : artist.lastname }}" width="100%">
                                {% else %}
                                    <img class="artist-image" src="{{ asset('build/default-profile.png') }}"
                                         alt="{{ artist.firstname is null ? 'Prénom' : artist.firstname }}
                                                 {{ (artist.lastname is null) ? 'Nom' : artist.lastname }}" width="100%">
                                {% endif %}
                                <span class=" {{ (artist.disciplines is empty) ? 'move' : artist.disciplines[0].color }}"></span>
                                <span class=" ml-2 text-white artist-name">
                                    {{ artist.firstname is null ? 'Prénom' : artist.firstname }} {{ (artist.lastname is null) ? 'Nom' : artist.lastname }}
                                </span>
                            </a>
                        </p>
                    </div>
                {% endfor %}
                {% if results.users is empty %}
                    <div class=" offset-1 offset-md-4">
                        <p class="ml-2 font-medium text-center">La recherche n'a rien donné, essayez d'autres mots.</p>
                    </div>
                    {% endif %}
            {% endif %}
            {% if results.happenings is defined %}
                {% for happening in results.happenings %}
                    <div class="col-sm-6 col-md-4">
                        <p class="position-relative img-container">
                            <a href="{{ path('blog_article', {id: happening.id}) }}" >
                                <img  class="artist-image " src="{{ happening.media }}"
                                      alt="{{ happening.title }}" width="100%">
                                <span class="ml-2 text-white artist-name">
                                {{ happening.title }}
                            </span>
                            </a>
                        </p>
                    </div>
                {% endfor %}
                {% if results.happenings is empty %}
                    <div class=" offset-1 offset-md-4">
                        <p class="ml-2 font-medium text-center">La recherche n'a rien donné, essayez d'autres mots.</p>
                    </div>
                {% endif %}
            {% endif %}
            {% if results.announcements is defined %}
                {% for announcement in results.announcements %}
                    <div class="card mr-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ announcement.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ announcement.date|date('d/m/Y') }}</h6>
                            <p class="card-text text-justify">{{ announcement.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>