{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    {{ parent() - Gestion des articles }}
{% endblock %}

{% block body %}
    <div class="container pt-5 pb-5">
        <div class="d-flex justify-content-between">
        <h2 class="card-title title-shadow font-medium text-uppercase">
			<span class="title-content">
                {% block head_title %}Gestion des articles{% endblock %}
			</span>
        </h2>
        <a class=" d-flex align-items-center btn btn-outline-secondary " href="{{ path('admin_article_new') }}">Ajouter un article</a>
        </div>
        <div class=" pt-5 ">
            <div class=" pb-3 justify-content-center">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <table class="container">
                <thead>
                <tr class="border border-dark">
                    <th class="ml-2 text-center">Titre</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Posté le</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr class=" border border-dark">
                        <td class="text-center">{{ article.title }}</td>
                        <td class="text-center">
                            {% if article.imageArticle.image is not null %}
                            <img style="width: 120px; height: 80px" src="/uploads/images/users/{{ article.imageArticle.image }}">
                            {% else %}
                                Pas d'image
                            {% endif%}
                        </td>
                        <td class="text-center">{{ article.createdAt|date('d/m/Y') }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_article_edit', {id: article.id}) }}"
                               class="card-link text-dark"><i class="far fa-edit"></i>Modifier</a>
                            {{ include('admin/article/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
